@model IEnumerable<HelloMVC_Adil.Models.dbWeb>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.titleId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.locationId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.titleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.locationId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.titleId }) |
                @Html.ActionLink("Details", "Details", new { id = item.titleId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.titleId })
            </td>
        </tr>
    }
</table>